.cardButtonContainer {
  border-radius: 5px;
  padding: 10px;
  border: none;
  width: 95%;
  margin: 0 auto;
  background-color: var(--lightblue);
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}
@media (min-width: 700px) {
  .cardButtonContainer {
    border-radius: 3em;
    background-color: var(--orange);
    width: 40%;
    font-size: 1rem;
  }
}
