.desktopListContainer {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
}
.linkToSite {
  align-self: center;
  text-align: center;
  color: grey;
  width: max-content;
}
