.quoteCardContainer {
  box-shadow: var(--boxshadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px 10px;
  margin: auto;
  margin-top: 10px;
  width: 90%;
  border-radius: 7px;
  position: relative;
  /* overflow: hidden; */
  height: max-content;
  max-width: 600px;
  min-height: 318px;
  background-color: beige;
}
.quoteCardContainer .starContainer {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  /* background-color: gold; */
  border-bottom-right-radius: -10%;
  /* padding: 20px; */
  width: 0;
  height: 0;
  border-top: 70px solid gold;
  border-bottom: 70px solid transparent;
  border-right: 70px solid transparent;
  font-size: 1.7rem;
}
.starContainer svg {
  position: absolute;
  top: -60px;
  left: 10px;
  /* transform: translate(-50%, -50%); */
}
.quoteCardContainer .blueButton {
  border-radius: 5px;
  padding: 10px;
  border: none;
  width: 95%;
  margin: auto;
  background-color: var(--lightblue);
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}

.imageContainer {
  height: 100px;
  width: 200px;
  object-fit: contain;
  padding: 15px;
  outline: rgb(230, 230, 230) 0.3px solid;
  border-radius: 3px;
}
.imageContainer img {
  height: 100%;
}

.list {
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.491);
  margin-bottom: 20px;
  position: relative;
  /* z-index: 1; */
  transition: all 0.5s ease-in-out;
  text-align: start;
}
.list ul {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.arrowContainer {
  position: absolute;
  left: 50%;
  top: -12.5px;
  transform: translateX(-50%);
  /* z-index: 10; */
  color: white;
  background-color: grey;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  padding: 1px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  font-size: 1.5rem;
}

.list.open {
  height: 230px;
}
.list.open .arrowContainer {
  transform: rotate(180deg);
  left: calc(50% - 12.5px);
  top: calc(100% - 12.5px);
  /* transform-origin: right; */
}
.list.open ul {
  height: 300px;
}
.numberContainer {
  background-color: var(--lightblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 700px) {
  .quoteCardContainer {
    min-height: 490px;
    background-color: white;
  }
  .imageContainer {
    height: 70px;
    object-fit: contain;
    padding: 0;
    outline: none;
    /* border-radius: 3px; */
  }
}
@media (min-width: 1529px) {
  .quoteCardContainer {
    margin: auto;
    margin-left: 30px;
  }
}
