.quotesButtonContainer {
  border: none;
  padding: 15px;
  color: white;
  box-shadow: var(--boxshadow);
}
.quotesButtonContainer:disabled {
  background-color: grey !important;
  color: rgb(217, 216, 216);
  cursor: default;
}
